html {
  scroll-behavior: smooth;
  height: 100%;
}


body {
  background-color: #BBE2EC;
  color: #000000;
  overflow-y: hidden;
  height: 100%;
  min-height: fit-content;
  display: flex;
  flex-wrap: nowrap;
  place-items: center;
}

.slide {
  height: 100%;
  margin: 1vw;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.slide-track {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: scroll 135s linear infinite;
  margin-left: 60vw;
  gap: 5vw;
}


.slide-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(-120%);
  }
}

img {
  height: 50vh;
  perspective: 10vh;
  transition: transform 0.5s;
}

img:hover {
  transform: scale(1.10);
  filter: grayscale(0%);
}

p {
  color: #0D9276;
  font-family: supria-sans, sans-serif;
  font-weight: 300;
  font-style: italic;
  z-index: -1;
  left: 2vw;
  position: absolute;
  line-height: 3.5vh;
  font-size: 1.25vw;
}